body {
  background-color: hsl(210,60%,70%);
  font-family: 'Questrial', sans-serif;
}
header {
  background-color: grey;
}

.all-movies {
  width: 90vw;
  margin: 2vh 4vw;
  /* display: none; */
  justify-content: space-around;
  background-color: white;
}

.draft-movie, .user-total, button {
  margin: 1vh 1vw;
  background-color: white;
  box-shadow: 2px 5px 10px black;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
