html, body {
  font-family: 'Questrial', sans-serif;
  background-color: hsl(0,0%,99%);
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.middle {
  padding: 10px;
  padding-bottom: 8vh;
}

.body {
  min-height:82vh;
  margin-top: -4.0vh;
  background-color: hsla(215,90%,40%,0.4);
}

.centered {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  margin-top: -3vh;
  background-color: hsla(15,60%,50%,0.9);
}

.header h1 {
  width: 60vw;
  padding: 2vh;
}

.site-name {
  text-decoration: none;
  color: hsl(0,0%,95%);
}

.site-name:hover {
  text-decoration: underline;
}

.footer {
  position:absolute;
  bottom:0;
  width: 100vw;
  background-color: hsla(15,60%,50%,0.9);
  color: hsl(0,0%,95%);
  display: flex;
  height: 8vh;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.credentials {
  padding: 3vh 7vh;
  margin-top: 10vh;
  border: hsl(0,0%,80%) 1px solid;
  background-color: hsla(215,90%,40%,0.4);
  border-radius: 2vh;
}

.login {
  justify-content: space-around;
  align-items: center;
}

input {
  background-color: white;
  padding: 1vh;
  margin: 1vh;
  box-shadow: 2px 5px 10px black;
  font-size: 16px;
}

.user-leagues {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1vh;
  width: 100vw;
}

.league-data {
  width: 92vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.league-top-container {
  display: flex;
  justify-content: space-between;
  width: 85vw;
}

.league-name {
  border-bottom: hsl(0,0%,85%) 2px solid;
  padding: 1vh 1vh;
  width: 45vw;
  word-wrap: normal;
}

.user-info, .all-users {
  padding: 1vh;
  background-color: hsl(215,0%,98%);
  margin: 3vh;
  box-shadow: 2px 5px 10px black;
  min-width: 40vw;
  border-radius: 1vh;
}

.top-draft-container {
  display: flex;
  margin-top: 5vh;
}

.league-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.league-user-info h3 {
  margin-top: -1vh;
  padding-bottom: 1.5vh;
}

ul {
  list-style-type: none;
}
.padded {
  padding-left: 1vh;
}

.small-circle {
  background-color: hsla(140,90%,30%,0.7);
  height: 7vh;
  width: 7vh;
  border-radius: 3.5vh;
  color: white;
}

.join-league {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-league {
  background-color: hsl(215,0%,98%);
  height: 20vh;
  width: 20vh;
  max-width: 37vw;
  margin: 3vh;
  box-shadow: 2px 5px 10px black;
  border-radius: 1vh;
}
.margin{
  margin-left: 1vh;
}

.no-limit {
  width: auto;
  max-width: none;
}

.all-movies {
  width: 85vw;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
}

.draft-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-movie-container {
  margin-top: 5vh;
  background-color: hsl(215,0%,98%);
  padding: 1.5vh;
  min-width:50vw;
  box-shadow: 2px 5px 10px black;
  display: flex;
  justify-content: space-around;
  border-radius: 1vh;
  border: 5px solid hsla(15,80%,70%,0.8);
}

.bid-buttons {
  padding-left: 5vw;
  display: flex;
}

a {
  text-decoration: underline;
}

.draft-movie, .user-total, button {
  background-color: white;
  padding: 0.5vh;
  margin: 2vh 1px;
  box-shadow: 2px 5px 10px black;
  border-radius: 1vh;
}

.draft-movie {
  padding: 0 0.5vh;
  margin: 1vh 1px;
}

button {
  font-size: 4vh;
  height: 8vh;
  width: 8vh;
  margin: 2vh 2vh;
}

.end {
  color: hsla(360, 100%, 60%, 0.7);
}

.movies-list, .leaderboard {
  background-color: white;
  padding: 0.5vh;
  margin: 2vh 2vh;
  box-shadow: 2px 5px 10px black;
  max-width: 50vw;
  border-radius: 1vh;
}

@media (max-width: 485px){
  .body {
    min-height:79vh;
  }
  .movies-list, .leaderboard {
    max-width: none;
  }
  .top-draft-container {
    margin-top: 5vh;
  }
  .user-info, .all-users {
    min-width: none;
    margin: .5vh;
  }
  .current-movie-container {
    max-width: 80vw;
  }
  .current-movie-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .league-data {
    width: 100vw;
    align-items: center;
  }
  .bid-buttons {
    flex-direction: column;
  }
  button {
    height: 6vh;
    width: 6vh;
    margin: 0.5vh 0.5vh;
    font-size: 3vh;
  }
  .user-movies {
    margin-left: -4vh;
  }
  .release-date {
    margin: 0.5;
    margin-top: -2vh;
  }
  .league-top-container {
    width: 91vw;
    align-items: center;
  }
  .league-name {
    border-right: hsl(0,0%,85%) 2px solid;
    border-bottom: none;
  }
}

@media (max-height: 737px) {
  .body {
    margin-top: -5.0vh;
    min-height: 77vh;
  }
}
